<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <h1>Productos</h1>

  {% if productos %}

  <ul>
    {% for producto in productos %}
    <li>
      {{producto.getProducto()}}
      {% if producto.precio > 100 %}
      producto caro
      {% else %}
      producto economico
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>Productos no encontrado</p>
  {% endif %}
</body>

</html>